.content {
  padding-top: 40px;
  font-family: 'Proxima Nova Regular', sans-serif;
  color: #474747;
  
  &__title {
    text-align: start;
    font-size: 52px;
    font-weight: 100;
    line-height: 45px;
    letter-spacing: -1px;
    color: #474747;
    font-family: "Proxima Nova Thin", sans-serif;
    margin-left: -3px;

    margin-bottom: 30px;

    @media (max-width: 455px) {
      padding: 30px 20px 0 20px;
    }
  }

  &__text {
    color: #474747;
    margin-bottom: 30px;

    @media (max-width: 455px) {
      padding: 0px 20px;
    }
  }

  &__subtitle {
    font-size: 22px;
    line-height: 30px;
    color: #474747;
    font-weight: bold;
    
    margin-bottom: 23px;

    @media (max-width: 455px) {
      padding: 0px 20px;
    }
  }

  &__sub {
    font-size: 22px;
    line-height: 30px;
    color: #474747;
    font-weight: 300;

    margin-bottom: 20px;

    @media (max-width: 455px) {
      padding: 0px 20px;
    }
  }

  &__container-mobile {
    @media (min-width: 455px) {
      display: none;
    }
  }

  &__table {
    border-collapse: collapse;
    text-align: start;
    margin-bottom: 40px;
    color: black;

    
    td {
      padding: 10px;

      &:last-child {
        padding-right: 0;
      }
    }

    thead {
      font-weight: bold;
      border-bottom: 2px solid #c0c0c0;
    }

    tr {
      border-bottom: 1px solid #c0c0c0;
    }

    &-res {
      color: black;
      
      td {
        padding: 20px 0 20px 28px;
        
        &:nth-child(1) {
          padding-left: 0;
        }
      }

      @media (max-width: 455px) {
        margin: 10px 20px;
      }
    }

    @media (max-width: 455px) {
      margin: 10px 20px;
    }
    
  }

  .nav__link {
    margin-bottom: 50px;

    @media (max-width: 455px) {
      margin: 10px 20px;
    }
  }

  .orange {
    color: orange;
  }

  .gray {
    color: #7a8387;
  }

  .pink-border {
    color: #f9508e;
    background-color: rgba(243, 243, 243, 0.7);
    border: 1px solid;
    border-color:  rgba(0,0,0,0.2);
    padding: 1px 5px;
  }

  @media (max-width: 455px) {
    padding: 0;
  }
}
