.info {
  padding-left: 40px;
  
  &__content {
    background-color: #21252b;
    height: 100%;

    @media (max-width: 455px) {
      display: none;
    }
  }

  &__menu,
  .menu {
    @media (max-width: 455px) {
      display: none;
    }
  }
  
  @media (max-width: 455px) {
    padding-left: 0;
  }
}

.menu {
  background-color: #282c34;
  height: 60px;
  display: flex;
  align-items: center;
  
  
  &__list {
    padding: 30px;
    display: flex;
    list-style: none;
  }

  &__item {
    margin: 0 40px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 30px;
    color: white;
    font-family: "Proxima Nova", sans-serif;

    &:hover {
      color: #fec013;
      align-items: center;
      &::after {
        align-self: center;
        display: block;
        position: relative;
        left: calc(100% - 140%);
        top: 14px; 
        width: 180%;
        height: 2px;
        background-color: #fec013; 
        content: "";
      }
    }
  }

  &-mobile {
    @media (min-width: 455px) {
      display:none;
    }
  }
}

.content {
  &__list {
    padding: 0 30px;
    list-style: none;
  }

  &__item {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Proxima Nova Regular";
    margin-bottom: 40px;

    &-code {
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      font-family: "Proxima Nova";
      margin-bottom: 40px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 30px;
    color: #3a72c7;
    font-weight: 200;

    &-code {
      font-size: 16px;
      color: #3a72c7;
      word-break: break-all;
    }
  }

  &__container {
    background-color: #282c34;
    padding: 23px;
    margin-bottom: 40px;
  }
}

.code {
  color: white;
  &__violet {
    color: #c678dd;
  }

  &__orange {
    color: #ef9f45;
  }

  &__green {
    color: #a3e765;
  }

  &__red {
    color: #ed616c;
  }

  &__blue {
    color: #44aaff;
  }
}
