.sidebar {
  padding: 40px;
  font-family: 'Proxima Nova', sans-serif;

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #7a8387;
    letter-spacing: 1px;
  }

  &__list {
    list-style: none;
  }

  @media (max-width: 455px) {
    display: none;
  }
}
